.r-logo {
    text-align: right;
}

.bottone-storico{
    text-align: right;
}

.titolo{
    color:black;
    text-align: center !important;
}
.titolo2{
    color:black;
    text-align: left;
}
.Logo{
    width: 100px;
    height: 100px;

}
.Logo2{
    width: 150px;
    height: 150px;
    align-items: right;

}
.tabellina {
    width: 100%;
    table-layout: fixed;
    
}

.tabellina th, .tabellina td {
    text-align: center !important; /* Forza il testo al centro */
    vertical-align: middle; /* Per allineare verticalmente */
    width: 33.33%;
    padding: 10px;
}
.inserimento{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    margin-top: 1rem; 
}
#colorHome{
    background-color:white;
 }
 .contenitore {
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

#calculator {
    width: 600px;
    height: 475px;
  
}

 .hidden{
    display: none;
  }
  
  
  .show{
    display: block;
  }
  .immagine{
    width: 300px;
    height: 200px
  }
  .storico{
    color:white;
  }

  .radius {
    border-radius: 8px;
    overflow: hidden; 
    border: 1px solid #ccc; 
}

.radius table {
    border-collapse: collapse; 
    width: 100%;
}

.radius th, .radius td {
    border: 1px solid #ccc; 
    padding: 8px;
    text-align: left;
}


.radius thead tr:first-child th:first-child {
    border-top-left-radius: 8px;
}

.radius thead tr:first-child th:last-child {
    border-top-right-radius: 8px;
}

.radius tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.radius tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}
.in{
    width: 5rem !important;
   
}
.b1
{
    width: 25rem !important;
   
}
/* Imposta il corpo della pagina per occupare tutta l'altezza della finestra */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Il contenuto occuperà lo spazio disponibile, spingendo il footer in basso */
.contenuto {
    flex: 1;
}

/* Footer sempre in fondo alla pagina */
.pieDiPagina {
    background-color: #000000;
    color: white;
    text-align: left;
    padding: 10px;
}

.testoBianco{
    color:white;
}
.i-upload{
    width:30px;
    height: 30px;
}